
<div class="container-fluid body-background">
  <div class="header">
      <h1>Find your dream job now</h1>
  </div>
  <div class="Wrapper ">
      <div>
          <div class="logoContainer">
             
              <input type="text" placeholder="Enter Skills / designations / companies" class="sugginput"
                  id="input1">
              <div class="pipe1"></div>
              <input type="text" placeholder="Enter location" class="sugginput" id="input2">
              <div class="pipe1"></div>
              <select id="input3" class="sugginput">
                  <option value="" hidden="">Select Experience</option>
                  <!-- Available Options -->
                  <option value="1">Freshers</option>
                  <option value="2">1 year</option>
                  <option value="3">2 years</option>
                  <option value="4">3 years</option>
                  <option value="5">4 years</option>
                  <option value="6">5 years</option>

              </select>

              <input type="button" routerLink="/jobs" class="search" value="Search">
          </div>
      </div>
  </div>

</div>